html,
body {
    height: 100%;
    background-image: url(../note.jpg);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#alert-div{
    display: none;
}

.note{
    width: 30%;
    height: 200px;
    background-color: rgba(187, 195, 255, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    float: left;
    margin: 15px;
    padding: 20px;
}

.note h3{
    color: #204d74;
    margin-bottom: 15px;
}

.note p{
    color: #122b40;
}

.control_buttons{
     text-align: right;
     margin-top: 30px;
     padding-bottom: 10px;
 }

.control_buttons span{
    padding: 5px;
}

.control_buttons span:hover{
    cursor: pointer;
    background-color: #2aabd2;
    border-radius: 10px;
}

.view-img img{
    width: 300px;
    height: 250px;
}

.site-index{
    color: #fff;
    font-size: 15pt;
}

.note-view{
    color: #fff;
    height: 410px;
}

.info-view{
    height: 100%;
    padding-left: 50px;
}

.buttons-view{
    position: absolute;
    bottom: 0;
}

.img-for-view img{
    width: 600px;
    height: 400px;
}